<h1 class="text-center">THÔNG TIN CỦA NHÓM</h1>
<div class="about-members">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<%= image_tag("toan-avatar.jpg",size: "250x200", class: "img-circle", alt: "Avatar") %>
			<p>MSSV: 1412558</p>
			<p>Họ Tên: Phạm Quốc Toàn</p>
			<p>Ngày Sinh: 22/04/1996</p>
			<p>Địa chỉ: 35/7 Đỗ Thừa Luông, Tân Quý, Tân Phú, Hồ Chí Minh, Việt Nam</p>
			<p>Email: bossdiemmaimai@gmail.com</p>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="wrapper">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62707.93965304179!2d106.618012!3d10.792444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c07e7cf3aab%3A0x709df5647b350438!2zMzUgxJDhu5cgVGjhu6thIEx1w7RuZywgVMOibiBRdcO9LCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1492263626681"
					frameborder="0"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<hr>
