<h1 class="text-center">THÔNG TIN NHÓM</h1>
<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12">
		<%= image_tag("toan-avatar.jpg",size: "250x200", class: "img-circle", alt: "Avatar") %>
		<p>MSSV: 1412558</p>
		<p>Họ Tên: Phạm Quốc Toàn</p>
		<p>Ngày Sinh: 22/04/1996</p>
		<p>Địa chỉ: 35/7 Đỗ Thừa Luông, Tân Quý, Tân Phú, Hồ Chí Minh, Việt Nam</p>
		<p>Email: bossdiemmaimai@gmail.com</p>
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12">
		<%= image_tag("toan-avatar.jpg",size: "250x200", class: "img-circle", alt: "Avatar") %>
		<p>MSSV: 1412558</p>
		<p>Họ Tên: Phạm Quốc Toàn</p>
		<p>Ngày Sinh: 22/04/1996</p>
		<p>Địa chỉ: 35/7 Đỗ Thừa Luông, Tân Quý, Tân Phú, Hồ Chí Minh, Việt Nam</p>
		<p>Email: bossdiemmaimai@gmail.com</p>
	</div>
</div>
<hr>
<div class="wrapper">
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.634266542832!2d106.6798381152932!3d10.762644362389752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIFRQSENN!5e0!3m2!1svi!2s!4v1507174154080"
		frameborder="0"
		allowfullscreen></iframe>
</div>
