// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-blog-item {
  margin-bottom: 15px;
}

.my-blog-cover {
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 500px;
  background-color: #3e3e3e;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.my-blog-cover-thumn {
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
  background-color: #3e3e3e;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.title{
  text-align: center;
}
